/* Html Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code starts here */


:root {

    /*fonts*/
    
    --main-font: 'Arvo', serif;
    --title-font: 'Great Vibes', cursive;
    font-size: 5vh;

    /*colors*/
    --pink: rgb(220, 92, 143);
    --black: black;
    --white: white;

    /*squares*/
    --gap: 0.6rem
}

body,html {
    margin: 0;
    padding: 0;
    height: 100%;
}
* {
    box-sizing: border-box;
}

#content {
    display: grid;
    grid-template-columns: 1fr auto;
}

#home-img {
    height: 99vh;
}

#text-content {
    display: grid;
    grid-template-columns: 1fr 7rem;
    grid-template-rows: 2rem 1fr;
    gap: var(--gap);
}

header {
    display: flex;
    gap: var(--gap);
}

.menu-btn {
    background-color: var(--pink);
    color: var(--white);
    font-family: var(--main-font);
    font-size: 0.7rem;
    flex-grow: 1;
    border-style: none;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

#title {
    font-family: var(--title-font);
    font-size: 2.6rem;
    text-align: center;
    font-weight: normal;
}

p {
    font-family: var(--main-font);
    font-size: 0.5rem;
    text-align: center;
}

.decoration {
    display: flex;
    gap: var(--gap)
}

#dec-1 {
    align-self: flex-start;
}

#dec-2 {
    align-self: flex-end;
}

.square {
    height: 1rem;
    width: 1rem;
    background-color: var(--pink);
}